{% extends 'base.html.j2'%}

{% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/pokemon.css')}}">
{% endblock %}

{% block title %}
Pokemon Team
{% endblock %}

{%block content %}
    <h1>Your Pokemon Team!</h1>
    
    {% if current_user.pokemon %}
        {% for poke in pokemon%}
            {% include './includes/teammember.html.j2'%}
        {% endfor %}
    {% endif %}

{% endblock %}